<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card box shadow p-3 mb-5 bg-white rounded" style="width: 22rem">
    
    <div class="card-body">
      <form (ngSubmit)="register()">
        <div class="form-group mb-3">
          <label for="username"> <i class="bi bi-person-fill"></i> Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            [(ngModel)]="username"
            name="username"
            required
          />
        </div>
        <div class="form-group mb-3">
          <label for="password"> <i class="bi bi-lock-fill"></i> Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
          />
          <i 
          class="bi bi-eye-fill position-relative" 
          id="togglePassword"
          (click)="togglePasswordVisibility()"
          style="left: 16rem; bottom: 1.7rem; color: gray">
          </i>
        </div>
        <div class="form-group mb-3">
          <label for="confirmPassword"><i class="bi bi-lock-fill"></i> Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>
        <div class="form-group mb-3">
          <label for="role">
            <i class="bi bi-person-vcard-fill"></i>
            Role</label>
          <input
            type="text"
            class="form-control"
            id="role"
            [(ngModel)]="role"
            name="role"
            required
          />
        </div>
        <div class="form-group mb-3">
          <label for="salary">
            <i class="bi bi-currency-rupee"></i>   
            Salary</label>
          <input
            type="number"
            class="form-control"
            id="role"
            [(ngModel)]="salary"
            name="salary"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>
