
.card{
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}
.cardImg{
    height: 12.5rem;
    width: 100%;
}

.home{
    padding: 1rem 0.5rem;
}